/* region_common */
*{
    Margin:0;
    Padding: 0;
    Box-sizing: border-box;
    }
    
    Img{
    Max-width: 100%
}
/* HEADER COMMON */
.header{
    background-color: aqua;
    padding: 1rem;
}


/* FLEX_HEADER */
.h_fl_container{
display: flex;
margin: auto;
justify-content: space-around;
background-color: #ffd500;
width: 70%;
padding: 0.5rem;

}

.h_fl_logo{
display: flex;
justify-content: flex-start;
width: 25%;
}

.h_fl_link{
    display: flex;
    justify-content: center;
    width: 50%;
    
    }

    .h_fl_login{
        display: flex;
        justify-content: flex-end;
        width: 25%;
        }